* {
    background-image: none;
    box-shadow: none;
    font-family: "JetBrainsMono Nerd Font Mono";
}

window {
    background-color: rgba(17, 17, 27, 0.78);
}

button {
    color: #cdd6f4;

    background-color: rgba(30, 30, 46, 0.34);

    border-style: solid;
    border-width: 2px;
    border-color: rgba(69, 71, 90, 0.45);

    border-radius: 20px;

    margin: 8px;
    padding: 8px;

    min-width: 46px;
    min-height: 46px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 14%;

    transition: 0.15s ease;

    outline-style: none;

    -gtk-icon-style: symbolic;
    -gtk-icon-effect: highlight;
}

button:hover {
    background-color: rgba(49, 50, 68, 0.68);

    border-color: #a6e3a1;

    color: #a6e3a1;

     -gtk-icon-effect: highlight;
}

button:focus {
    background-color: rgba(49, 50, 68, 0.68);

    border-color: #a6e3a1;

    color: #a6e3a1;
     -gtk-icon-effect: highlight;
}

button label {
    font-size: 15px;
    font-weight: 600;

    color: #bac2de;

    margin-top: 28px;
}
/* icons */

#lock {
    background-image: image(
        url("/usr/share/wlogout/icons/lock.png")
    );
}

#logout {
    background-image: image(
        url("/usr/share/wlogout/icons/logout.png")
    );
}

#reboot {
    background-image: image(
        url("/usr/share/wlogout/icons/reboot.png")
    );
}

#shutdown {
    background-image: image(
        url("/usr/share/wlogout/icons/shutdown.png")
    );
}

#suspend {
    background-image: image(
        url("/usr/share/wlogout/icons/suspend.png")
    );
}